<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="#" th:action="@{/AddAdmin}" th:object="${adminedit}" method="POST">
<table>
<tr><td>Emp Id</td>
<td><input type="text" th:field="*{empId}" readonly="readonly" /></td></tr>
<tr><td>User Name </td>
<td><input type="text" th:field="*{username}"></td></tr>
<tr><td>Password</td>
<td><input type="text" th:field="*{password}"></td></tr>
<tr><td><input type="submit" value="Edit"/></td></tr>
</table>
</form>
</body>
</html>