<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage</title>
    <link rel="stylesheet" href="New.css">
</head>
<body bgcolor="#e9f030"></body>

<body>

    <div align="center" class="main">
	 <img src="https://res.cloudinary.com/dpro7vkjb/image/upload/v1651588652/First_cxx82g.webp" height="400" width="800"/>
        <div class="navbar">
            <div class="icon">
                <div align="center">
                <h1 style="color:tomato">Welcome To Billing System</h1>
                
            </div>

            <div class="menu">
                <ul>
                   
                   
                   <li><strong><a href="login">LOGIN</a></strong></li>
                  
                   
                    
                </ul>
            </div>

       
        

               
                </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>