<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Student</title>
</head>
<body>

<body bgcolor="honeydew"></body>


	<div align="center">
		<h1>Create New Student</h1>
		<br />
		<form action="#" th:action="@{/savestu}" th:object="${student}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>Student Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<td>Fathersname:</td>
					<td><input type="text" th:field="*{fathersname}" /></td>
				</tr>
				<tr>
					<td>Address:</td>
					<td><input type="text" th:field="*{address}" /></td>
				</tr>
				<tr>
					<td>Fee:</td>
					<td><input type="text" th:field="*{fee}" /></td>
				</tr>
				
				<tr>
					<td>Mobileno:</td>
					<td><input type="text" th:field="*{mobileno}" /></td>
				</tr>
												
				<tr>
					<td colspan="2"><button type="submit">Save</button> </td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>